<div class="m-3 p-3 pb-4 bg-secondary rounded">
  <div class="d-flex justify-content-sm-between align-items-center">
    <h3 class="fw-bold fs-1">My Wish List</h3>
    <button class="btn btn-outline-primary bg-white ps-4 pe-4" (click)="onAddFilm()">
      <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Film
    </button>
  </div>
  <hr>

  <!-- Film Cards Display -->
  <div class="d-flex justify-content-start gap-2 flex-wrap">
    <app-film-card
      *ngFor="let film of filmResponse.content"
      [film]="film"
      [manage]="true"
      (edit)="onEditFilm($event)"
      (archive)="onDeleteFilm($event)">
    </app-film-card>
  </div>

  <!-- Pagination Section -->
  <div class="d-flex justify-content-center gap-2 mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center p-3">
        <li class="page-item" [ngClass]="{'disabled': filmResponse.first}">
          <a class="page-link" (click)="goToFirstPage()" href="javascript:void(0)" aria-label="Previous">
            <i class="fa-solid fa-angles-left"></i>
          </a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': filmResponse.first}">
          <a class="page-link" (click)="onPreviousPage()" href="javascript:void(0)" aria-label="Previous">
            <i class="fa-solid fa-angle-left"></i>
          </a>
        </li>
        <li class="page-item" *ngFor="let _ of [].constructor(filmResponse.totalPages); let pageIndex = index">
          <a class="page-link" (click)="goToPage(pageIndex)" href="javascript:void(0)" [class.active]="page === pageIndex">
            {{ pageIndex + 1 }}
          </a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': filmResponse.last}">
          <a class="page-link" (click)="onNextPage()" href="javascript:void(0)" aria-label="Next">
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': filmResponse.last}">
          <a class="page-link" (click)="goToLastPage()" href="javascript:void(0)" aria-label="Next">
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- Add/Edit Film Modal -->
<app-add-film-modal
  *ngIf="showAddFilmModal"
  [filmToEdit]="editingFilm"
  (closeModal)="onModalClose()"
  (submitFilm)="onFilmSubmit($event)">
</app-add-film-modal>

<!-- Snackbar for displaying messages -->
<app-snackbar [message]="message" [level]="level" *ngIf="message"></app-snackbar>
