<div class="container-fluid card register-container p-4 bg-secondary text-white">
  <h2 class="fw-bold ">Register</h2>
  <hr>

  <!-- Optional: Display error messages if any -->
  <div *ngIf="errorMsg?.length" class="alert alert-danger" role="alert">
    <p *ngFor="let error of errorMsg">{{ error }}</p>
  </div>

  <!-- Registration form -->
  <form (ngSubmit)="register()" #registerForm="ngForm">
    <!-- First Name Input -->
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input
        type="text"
        id="firstName"
        class="form-control"
        placeholder="John"
        [(ngModel)]="this.registerRequest.firstName"
        name="firstName"
        required>
    </div>

    <!-- Last Name Input -->
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input
        type="text"
        id="lastName"
        class="form-control"
        placeholder="Doe"
        [(ngModel)]="this.registerRequest.lastName"
        name="lastName"
        required>
    </div>

    <!-- Email Input -->
    <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input
        type="email"
        id="email"
        class="form-control"
        placeholder="johndoe@example.com"
        [(ngModel)]="this.registerRequest.email"
        name="email"
        required>
    </div>

    <!-- Password Input -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        placeholder="Enter your password"
        [(ngModel)]="this.registerRequest.password"
        name="password"
        required>
    </div>

    <!-- Register Button -->
    <div class="d-flex justify-content-sm-between mb-3 fw-bold">
      <button type="submit" class="btn btn-success">
        Register
      </button>
      <!-- Optional: Link to Login Page -->
      <div class="text-center d-flex align-items-center justify-content-around">
        Already have an account? <a class="btn btn-link text-white " routerLink="/login">Login here</a>
      </div>
    </div>

  </form>


</div>
