<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand logo" title="Film Social Network" href="javascript:void(0)">FSN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Navigation Links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link" aria-current="page" routerLink="/films">
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" aria-current="page" routerLink="/films/my-films">
            <i class="fas fa-film"></i> My Films
          </a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" aria-current="page" routerLink="/films/my-wishlist">
            <i class="fas fa-heart"></i> My Wish List
          </a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" aria-current="page" routerLink="/films/returned-films">
            <i class="fas fa-undo-alt"></i> Returned Films
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/films/borrowed-films">
            <i class="fas fa-share-square"></i> Borrowed Films
          </a>
        </li>
      </ul>

      <!-- Search Form and User Info -->

      <input
        type="text"
        class="form-control search-field"
        [(ngModel)]="searchQuery"
        (keyup.enter)="onSearch()"
        placeholder="Search for a film..."
      />
      <button class="btn btn-primary search-button text-white" (click)="onSearch()" type="button">
        🔍 Search
      </button>
      &nbsp;
      <span class="text-dark-emphasis">Welcome,</span>
      <span class="text-capitalize fw-bold text-dark-emphasis">{{ getUserInfo() }}</span>
      <button class="btn btn-link text-danger" type="button" (click)="logout()" title="Logout">
        <i class="fas fa-sign-out-alt"></i>
      </button>

    </div>
  </div>
</nav>
